<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
        <title>Dr. Reem Olaby Personal</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/linericon/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/popup/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flaticon/flaticon.css') }}">
        <!-- main css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container box_1620">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="#home-banner">Home</a></li>  <!-- linked "Home" menu w "Home banner" section  -->
                                <li class="nav-item"><a class="nav-link" href="#about-myself">About</a></li>   <!-- linked "About" menu w "About myself" section  -->
                                <li class="nav-item"><a class="nav-link" href="#experience-education">Experience & Education</a></li>
                                <!-- linked "experience & education" menu w "experience-education" section  -->
                                <li class="nav-item"><a class="nav-link" href="#postgraduate-support">Postgraduate Support</a></li>
                                <li class="nav-item submenu dropdown"> <!-- linked "Postgraduate" menu w "Postgraduate Services" section  -->


                                         <!--================I commented out the other 3 menu items =================-->

                                    <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                                        <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>   -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <!--================Home Banner Area =================-->
        <section class="home_banner_area" id="home-banner">
          <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
              <div class="banner_content">
                <div class="media">
                  <div class="d-flex">
                    <img src="{{ url_for('static', filename='img/personal.jpg') }}" alt="">
                  </div>
                  <div class="media-body">
                    <div class="personal_text">
                      <!-- <h6>Hello Everybody, i am</h6> -->
                      <h3>Dr. Reem Olaby</h3>
                      <h4>Professor</h4>
                      <p>Associate Professor at California Northstate University, researcher in drug discovery and neuroscience with multiple patents and peer-reviewed publications, and dynamic public speaker.</p>
                      <ul class="list basic_info">
                        <!-- <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 1992</a></li> -->
                        <!-- <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li> -->
                        <li><a href="#"><i class="lnr lnr-envelope"></i> reem@reemolaby.com</a></li>
                        <li><a href="#"><i class="lnr lnr-home"></i> Sacramento, California</a></li>
                      </ul>
                      <ul class="list personal_social">
                        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<!--================End Home Banner Area =================-->

        <!--================End Home Banner Area =================-->

        <!--================About Area =================-->
        <section id="about-myself" class="welcome_area p_120">
            <div class="container">
                <div class="row welcome_inner">
                    <div class="col-lg-12">
                        <div class="welcome_text">
                            <h4>About Myself</h4>
                            <p>Dr. Olaby is a pharmacist with Master's and Doctorate degrees from The American University of Cairo. She also holds an MPH degree from George Washington University, with a concentration in Public Health Marketing and Promotion and community advocacy. She is also a seasoned public speaker that delivered an array of talks in topics ranging from diversity and inclusion, to public speaking, cognitive time management, emotional intelligence, and career counseling in addition to motivational speeches.<p>
                            <p> Her research effort focused on identifying therapeutic leads for both Hepatitis C Virus and Malaria. To carry out this experiment, she collaborated with Scripps Research Institute (CA), Caltech (CA), UC Davis (CA), Johns Hopkins University (MD), Rutgers University (NJ), Lawrence Livermore National Laboratory (CA), Stanford University (CA), and the Institute Pasteur De Lille in France. She obtained training at some of these institutes and did all of her research there. Her research study yielded multiple peer-reviewed publications and three USPTO patents. Furthermore, Dr. Al Olaby holds a Master's degree in Public Health from George Washington University. Dr. Al Olaby also earned her Project Management Professional Certification (PMP(r)) from the Project Management Institute.
                            <p>Dr. Olaby then joined the UC Davis MIND Institute as an NIH-funded postdoctoral fellow in the Autism Research Training Program, where she was mentored by Dr. Flora Tassone and co-mentored by Dr. Randi Hagerman. Her collaboration with them centered on the genetics and epigenetics of Autism Spectrum Disorder (ASD), Fragile X Syndrome (FXS), and Fragile X-Associated Tremor and Ataxia Syndrome.<p>
                            <p>Dr. Olaby is currently an Associate Professor of Biology and Biotechnology at the College of Health Sciences at California Northstate University. Dr. Olaby's research interests combine her drug discovery knowledge with her neuroscience training. She hopes to create a library of pharmacological leads that can be used to treat neurodegenerative illnesses caused by proteinopathies or changes in the protein stability system.<p>
                            <p>Dr. Olaby believes in what Louis Pasteur once said: "Science knows no country because knowledge belongs to humanity, and it is the torch which illuminates the world!"</p>
                           <!-- <div class="row">
                                <div class="col-md-4">
                                    <div class="wel_item">
                                        <i class="lnr lnr-database"></i>
                                        <h4>$2.5M</h4>
                                        <p>Total Donation</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="wel_item">
                                        <i class="lnr lnr-book"></i>
                                        <h4>1465</h4>
                                        <p>Total Projects</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="wel_item">
                                        <i class="lnr lnr-users"></i>
                                        <h4>3965</h4>
                                        <p>Total Volunteers</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    <!--</div>
                    <div class="col-lg-6">
                        <div class="tools_expert">
                            <div class="skill_main">
                                <div class="skill_item">
                                    <h4>After Effects <span class="counter">85</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill_item">
                                    <h4>Photoshop <span class="counter">90</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill_item">
                                    <h4>Illustrator <span class="counter">70</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill_item">
                                    <h4>Sublime <span class="counter">95</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill_item">
                                    <h4>Sketch <span class="counter">75</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!--================End About Area =================-->

        <!--================Experience/Education Area =================-->
        <section class="mytabs_area p_120" id="experience-education">
            <div class="container">
                <div class="tabs_inner">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Start of the list of experiences -->
                            <ul class="list">

                                <!-- Start of the first entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2023 to Present</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Associate Professor</h4> <!-- Title of the experience -->
                                            <p>California Northstate University</p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the first entry -->

                                <!-- Start of the second entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2018 to 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Assistant Professor</h4> <!-- Title of the experience -->
                                            <p>California Northstate University <br /></p> <!-- Details of the education -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the second entry -->

                                <!-- Start of the third entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2016 to 2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>UC Davis</h4> <!-- Title of the experience -->
                                            <p>Postdoctoral Fellow <br /></p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the third entry -->

                                <!-- Start of the fourth entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2006 to 2008&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Visiting Researcher</h4> <!-- Title of the experience -->
                                            <p>2016-2016</p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the fourth entry -->

                            </ul>
                            <!-- End of the list of experiences -->

                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- Start of the list of education -->
                            <ul class="list">

                                <!-- Start of the first entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2014 to 2017</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Masters of Public Health (MPH)</h4> <!-- Title of the experience -->
                                            <p>Milken Institute School of Public Health, Public Health <br />The George Washington University</p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the first entry -->

                                <!-- Start of the second entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2010 to 2014</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Doctor of Philosophy (PhD), Biotechnology</h4> <!-- Title of the experience -->
                                            <p>The American University in Cairo <br /></p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the second entry -->

                                <!-- Start of the third entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2008 to 2010</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Masters Degree, Biotechnology</h4> <!-- Title of the experience -->
                                            <p>The American University in Cairo <br /></p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the third entry -->

                                <!-- Start of the fourth entry -->
                                <li>
                                    <span></span> <!-- Decorative element for the timeline dot -->
                                    <div class="media"> <!-- Container for the timeline entry -->
                                        <div class="d-flex"> <!-- Flex container for the date -->
                                            <p>2006 to 2008</p> <!-- Date range of the experience -->
                                        </div> <!-- Close the flex container for the date -->
                                        <div class="media-body"> <!-- Container for the experience details -->
                                            <h4>Bachelor of Science (BSc), Biotechnology</h4> <!-- Title of the experience -->
                                            <p>The American University in Cairo</p> <!-- Details of the experience -->
                                        </div> <!-- Close the container for the experience details -->
                                    </div> <!-- Close the container for the timeline entry -->
                                </li>
                                <!-- End of the fourth entry -->

                            </ul>
                            <!-- End of the list of education -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Experience/Education Area =================-->

        <!--================Postgraduate Support Area =================-->
        <section class="feature_area p_120" id="postgraduate-support">
            <div class="container">
                <div class="main_title">
                    <h2>how I can help postgraduate students</h2>
                    <p>Navigating the complexities of your thesis defense can be challenging, but my expert support is here to guide you every step of the way. From strategic coaching to visual presentation enhancements and realistic mock defense practices, I provide tailored assistance to ensure you are fully prepared and confident.</p>
                </div>
                <div class="feature_inner row">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <i class="flaticon-city"></i>
                            <h4>Defense Strategy Sessions</h4>
                            <p>If Tailored for postgraduate students, our Defense Strategy Sessions provide comprehensive coaching to help you craft a compelling narrative for your thesis. I focus on structuring your presentation, developing strong arguments, and anticipating committee questions to boost your confidence and performance.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <i class="flaticon-skyline"></i>
                            <h4>Visual Presentation Enhancements</h4>
                            <p>Elevate the impact of your thesis defense with visual presentation enhancements feedback. I will assist you in designing clear, professional, and visually appealing slides that effectively convey your research findings and key points. My support includes customized feedback to ensure your visual aids flawlessly complement your verbal presentation.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <i class="flaticon-sketch"></i>
                            <h4>Mock Defense Practice</h4>
                            <p>Prepare for your thesis defense with a Mock Defense Practice session. We simulate the defense environment, offering realistic practice rounds with constructive feedback. This session helps you refine your responses, manage your time efficiently, and address potential challenges, ensuring you are well-prepared for the actual defense.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Postgraduate Support Area =================-->

        <!--================Home Gallery Area =================-->
        <!--
        <section class="home_gallery_area p_120">
            <div class="container">
                <div class="main_title">
                    <h2>Our Latest Featured Projects</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
                <div class="isotope_fillter">
                    <ul class="gallery_filter list">
                        <li class="active" data-filter="*"><a href="#">All</a></li>
                        <li data-filter=".brand"><a href="#">Vector</a></li>
                        <li data-filter=".manipul"><a href="#">Raster</a></li>
                        <li data-filter=".creative"><a href="#">UI/UX</a></li>
                        <li data-filter=".design"><a href="#">Printing</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="gallery_f_inner row imageGallery1">
                    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-1.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-1.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>3D Helmet Design</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-2.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-2.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>2D Vinyl Design</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-3.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-3.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>Creative Poster Design</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-4.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-4.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>Embosed Logo Design</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-5.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-5.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>3D Disposable Bottle</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/gallery/project-6.jpg') }}" alt="">
                                <a class="light" href="{{ url_for('static', filename='img/gallery/project-6.jpg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt=""></a>
                            </div>
                            <div class="g_item_text">
                                <h4>3D Logo Design</h4>
                                <p>Client Project</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more_btn">
                    <a class="main_btn" href="#">Load More Items</a>
                </div>
            </div>
        </section>
        -->
        <!--================End Home Gallery Area =================-->

        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
          <div class="container">
            <div class="main_title">
              <h2>Testimonials</h2>
             <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p> -->
            </div>
            <div class="testi_inner">
              <!-- Commenting out the Owl Carousel -->
              <!-- <div class="testi_slider owl-carousel"> -->
                <div class="item">
                  <div class="testi_item">
                    <p>I want to express my sincere gratitude to Dr. Reem Al Olaby for their invaluable guidance in preparing my master’s defense. I watched a video by Dr. Olaby illustrates how to prepare defense presentation slides. It was a game-changer for me. It saved me a significant amount of time and instilled the confidence that I was not overlooking any crucial aspect of my research.<p>
                      <p>In the one-on-one mentor session, we discussed the slides in-depth, what to present and how to present, and what to skip to give the committee a chance to ask me about and answer confidently. She gave me many examples that suit my research and the University's requirements. We also discussed how to organize my time in a way to finish my presentation on time (10 minutes in my case) and to focus on all the important aspects of my project. Her feedback on the slides was super helpful, professional, and compelling; I applied almost everything she said to my slides. I am confident that the support I got from Dr. Olaby will significantly contribute to the success of my defense.<p>
                      <p>One of the points Dr. Olaby mentioned in her video and stressed in our session was the importance of anticipating questions from the committee and preparing suitable slides to answer them. I have always heard my professors mention that some students were exceptional in their defense presentations, and I am sure being well-prepared with anticipated questions is one of the aspects they consider.<p>
                      <p>Not to forget the mock defense opportunity, which, in my opinion, is the most critical aspect of this defense mentorship. I am excited to have the chance to practice my defense ahead of time and have professional feedback and comments. I am sure this experience will increase my confidence, lower my stress, and prepare me well to help me handle my defense day well.
                      I can’t recommend the mentorship with Dr. Reem enough for any graduate student who wants to be exceptional!</p>
                    <h4>Dima</h4>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                  </div>
                </div>
                <!-- Commenting out additional testimonials -->
                <!--
                <div class="item">
                  <div class="testi_item">
                    <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
                    <h4>Fanny Spencer</h4>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                  </div>
                </div>
                <div class="item">
                  <div class="testi_item">
                    <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel across her face</p>
                    <h4>Fanny Spencer</h4>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                  </div>
                </div>
                -->
              <!-- </div> -->
            </div>
          </div>
        </section>
<!--================End Testimonials Area =================-->


        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
            <div class="container">
                <div class="row footer_inner">
                    <div class="col-lg-5 col-sm-6">
                        <aside class="f_widget ab_widget">
                            <div class="f_title">
                                <h3>About Me</h3>
                            </div>
                            <p>Associate Professor at California Northstate University, researcher in drug discovery and neuroscience with multiple patents and peer-reviewed publications, and dynamic public speaker.</p>
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </aside>
                    </div>
                    <!--<div class="col-lg-5 col-sm-6">
                        <aside class="f_widget news_widget">
                            <div class="f_title">
                                <h3>Newsletter</h3>
                            </div>
                            <p>Stay updated with our latest trends</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </aside>
                    </div>      -->
                    <div class="col-lg-2">
                        <aside class="f_widget social_widget">
                            <div class="f_title">
                                <h3>Follow Me</h3>
                            </div>
                            <p>Let us be social</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/stellar.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/popup/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/counter-up/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/counter-up/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    </body>
</html>
